<h2>New option</h2>

<%= error_messages_for :option %>

<% form_for([@question, @option]) do |f| %>
  <p>
    <b>Label</b><br />
    <%= f.text_field :label %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', survey_question_path(@survey, @question) %>
