  <p>
    <b>Answer</b><br />
    <%= f.text_field :answer %>
  </p>

  <p>
    <b>Question</b><br />
    <%= f.text_field :question_id %>
  </p>

  <p>
    <b>Response</b><br />
    <%= f.text_field :response_id %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :active %>
  </p>