<h2>New answer</h2>

<%= error_messages_for :answer %>

<% form_for([@question, @answer]) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', question_answers_path(@question) %>
