<%= label %>
<%= help_text %>
<%= text_field_tag( "#{@question.label_id}[answer]}" ) %><br />
<label for="">Confirm</label>
<%= text_field_tag( "#{@question.label_id}[answer_confirmation]}" ) %>
